<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">

    <h1>Lista samochodów</h1>

    <table class="table table-bordered table-hover">
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Year of production</th>
        </tr>

        <tr th:each="car : ${cars}">
            <td th:text="${car.getBrand()}"></td>
            <td th:text="${car.getModel()}"></td>
            <td th:text="${car.getYearOfProduction()}"></td>
        </tr>
    </table>

    <h1>Dodaj nowy samochód</h1>

    <form action="#" th:action="@{/save-car}" th:object="${car}" method="post">
        <div class="form-group">
            <label for="inputBrand">Brand</label>
            <input th:field="*{brand}" type="text" class="form-control" id="inputBrand" placeholder="Enter brand" />
        </div>
        <div class="form-group">
            <label for="inputModel">Model</label>
            <input th:field="*{model}" type="text" class="form-control" id="inputModel" placeholder="Enter model" />
        </div>
        <div class="form-group">
            <label for="inputYear">Year of production</label>
            <input th:field="*{yearOfProduction}" type="text" class="form-control" id="inputYear" placeholder="Enter year of production" />
        </div>
        <button type="submit" class="btn btn-primary">Dodaj</button>
    </form>
</div>
</body>
</html>