<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">

    <h1>Lista samochodów</h1>

    <table width="500">
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Year of production</th>
            <th>Price</th>
            <th>Rented?</th>
        </tr>

        <tr th:each="car : ${cars}">
            <td th:text="${car.getBrand()}"></td>
            <td th:text="${car.getModel()}"></td>
            <td th:text="${car.getYearOfProduction()}"></td>
            <td th:text="${car.getPriceRentPerDay()}"></td>
            <td th:text="${car.isRented()}"></td>
        </tr>
    </table>
</div>
</body>
</html>