<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="main.css" />
</head>
<body>
<div class="container" style="width: 100% !important; max-width: 400px !important;">
    <h1>Zaloguj się</h1>
    <form action="#" th:action="@{/login}" th:object="${user}" method="post">
        <div class="form-group">
            <label for="inputLogin">Login</label>
            <input type="text" th:field="*{login}" class="form-control" id="inputLogin" placeholder="Podaj login" />
        </div>
        <div class="form-group">
            <label for="inputPassword">Hasło</label>
            <input type="password" th:field="*{password}" class="form-control" id="inputPassword" placeholder="Podaj hasło" />
        </div>
        <input type="submit" class="btn btn-primary" value="Zaloguj" />
    </form>
</div>
</body>
</html>