<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="main.css" />
</head>
<body>
<div class="container" style="width: 100% !important; max-width: 400px !important;">

    <h1>Zarejestruj się</h1>
    <form action="#" th:action="@{/register}" th:object="${user}" method="post">
        <div class="form-group">
            <label for="inputLogin">login</label>
            <input type="text" id="inputLogin" class="form-control" th:field="*{login}" placeholder="Podaj login" />
        </div>
        <div class="form-group">
            <label for="inputFirstName">Imię</label>
            <input type="text" id="inputFirstName" class="form-control" th:field="*{firstName}" placeholder="Podaj imię" />
        </div>
        <div class="form-group">
            <label for="inputLastName">Nazwisko</label>
            <input type="text" id="inputLastName" class="form-control" th:field="*{lastName}" placeholder="Podaj nazwisko" />
        </div>
        <div class="form-group">
            <label for="inputPassword">Hasło</label>
            <input type="password" id="inputPassword" class="form-control" th:field="*{password}" placeholder="Podaj hasło" />
        </div>
        <input type="submit" class="btn btn-primary" value="Zarejestruj" />
    </form>
</div>
</body>
</html>