<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">

    <h1>Witaj <span th:text="${session.user.getLogin()}" ></span>, oto lista dostępnych samochodów</h1>

    <table class="table table-bordered table-hover">
        <tr>
            <th>Marka</th>
            <th>Model</th>
            <th>Rok produkcji</th>
        </tr>

        <tr th:each="car : ${availableCars}">
            <td th:text="${car.getBrand()}"></td>
            <td th:text="${car.getModel()}"></td>
            <td th:text="${car.getYearOfProduction()}"></td>
        </tr>
    </table>

    <h3>Wypożycz samochód</h3>

    <form action="#" th:action="@{/rent-cars}" th:object="${carToRent}" method="post">
        <div class="form-group">
            <label for="selectCar">Wybierz</label>
            <select id="selectCar" class="form-control" th:field="${carToRent.id}">
                <option th:each="car : ${availableCars}"
                        th:value="${car.id}"
                        th:text="${car.toString()}"></option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Wypożycz</button>
    </form>
</div>
</body>
</html>